#follow-us {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 304px;
}

#follow-us h2 {
  color: #ffffff;
  font-weight: bold;
  line-height: 52px;
  font-family: "Noto Sans", sans-serif;
  flex-basis: 400px;
}

#follow-us ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
  align-items: center;
}

#follow-us img {
    width: 70%;
}

#footer-links {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 338px;
}

#footer-links section {
  flex-basis: 600px;
}

#footer-links h4 {
  color: #3d3d3d;
  font-weight: bold;
  line-height: 42px;
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 10px;
}

#footer-links p {
  color: #737373;
  font-weight: 500;
  line-height: 26px;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

.links p {
  color: #737373;
  font-weight: 500;
  line-height: 26px;
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 20px;
}

.links {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 60px;
  padding: 30px 0px;
}

.links section ul li {
  list-style-type: none; 
  padding-bottom: 20px;
}

.links section ul li a {
  text-decoration: none;
  color: #3D3D3D;
}

#terms {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

#terms p {
  color: #3d3d3d;
  line-height: 19px;
  font-weight: bold;
  font-size: 13px;
  font-family: "Noto Sans", sans-serif;
}

#terms section {
  display: flex;
  gap: 40px;
}

footer a{
  color: #737373;
  text-decoration: none;
}


@media screen and (max-width: 768px) {
    #follow-us{
        padding: 20px;
    }
    #follow-us img{
        width: 50%;
    }
    #follow-us h2{
        font-size: 15px;
    }
}
@media screen and (max-width: 600px) {
}
