#follow-us {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#follow-us h2 {
  color: #ffffff;
  font-weight: bold;
  line-height: 52px;
  padding-right: 150px;
  font-family: "Noto Sans", sans-serif;
}

#follow-us ul {
  display: flex;
  list-style-type: none;
  gap: 80px;
  align-items: center;
}

#footer-links {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#footer-links h4 {
  color: #3d3d3d;
  font-weight: bold;
  line-height: 42px;
  font-family: "Noto Sans", sans-serif;
}

#footer-links p {
  color: #737373;
  font-weight: 500;
  line-height: 26px;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

.links p {
  color: #737373;
  font-weight: 500;
  line-height: 26px;
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 10px;
}

.links {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 60px;
}

.links section ul li {
  list-style-type: none;
  row-gap: 20px;
  padding-bottom: 10px;
}

.links a {
  text-decoration: none;
}

#terms {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#terms p {
  color: #3d3d3d;
  line-height: 19px;
  font-weight: bold;
  font-size: 13px;
  font-family: "Noto Sans", sans-serif;
}

#terms section {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
}
