Header {
  width: 100%;
  height: 97vh;
}
Header img {
  width: 100%;
  object-fit: cover;
  height: 60%;
}
Header article {
  background-color: #fff;
  height: 40%;
}
Header article div {
  max-width: 108rem;
  position: relative;
  height: 100%;
  display: grid;
  place-content: center;
  margin: 0 auto;
  z-index: 1;
}
Header article p {
  max-width: 97rem;
}
Header article h1 {
  position: absolute;
  transform:  translateY(-100%);
  top: 0;
  background-color: #fff;
  width: 70%;
  left: -20%;
  padding: 5.7rem 3.3rem;
}
@media (max-width: 1700px) {
  Header article h1 {
    top: 0;
    width: 70%;
    left: -10%;
    padding: 5.7rem 3.3rem;
  }
}
@media (max-width: 1450px) {
  Header article h1 {
    top: 0;
    width: 70%;
    left: -5%;
    padding: 5.7rem 3.3rem;
  }
}
@media (max-width: 1300px) {
  Header article h1 {
    top: 0;
    width: 70%;
    left: -0%;
    padding: 5.7rem 3.3rem;
  }
}
@media (max-width: 1150px) {
  Header article h1 {
    top: 0;
    width: 60%;
    left: 10%;
    padding: 5.7rem 3.3rem;
  }
}
@media (max-width: 1080px) {
  Header p {
    padding: 5rem;
  }
}

@media (max-width: 758px) {
  main header h1 {
    padding: 5rem 3rem;
    top: 0;
    width: 35%;
  }
}

@media (max-width: 650px) {
  Header article h1 {
    padding: 5rem 3rem;
    top: 0;
  }
}
@media (max-width: 319px) {
  Header article h1 {
    font-size: 3.5rem !important;
    top: 0;
  }
  Header article {
    height: 60%;
  }
  Header img {
    height: 40%;
  }
}
