nav {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 15px;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 25px;
}
nav li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
nav img {
  width: 80%;
}

.burger div {
width: 25px;
height: 5px;
background-color: gray;
margin: 2px;
cursor: pointer;
}


@media screen and (min-width: 768px) {
.burger {
  display: none;
}
}

@media screen and (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  ul{
        width: 50%;
        position: absolute;
        right: 0px;
        height: 97vh;
        top: 8vh;
        background-color: royalblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
  }

  li a{
    color: white;
    font-weight: bold;
  }

  #menu li {
    opacity: 0%;
  }

  .burger {
    padding-right: 20px;
  }

  .nav-active {
    transform: translateX(0%);
  }

  }

  /*600px media query*/
  @media screen and (max-width: 600px) {
    body{
      overflow-x: hidden;
    }

    main {
      display: none;
    }

    .full-width-light-blue {
      display: none;
    }

    ul{
          width: 100%;
          position: absolute;
          right: 0px;
          height: 97vh;
          top: 8vh;
          background-color: royalblue;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 70%;
          transition: transform 0.5s ease-in;
    }
  }