@import url("global.css");
@import url("nav.css");
@import url("header.css");
@import url("footer.css");

main {
  display: flex;
  justify-content: center;
}
section {
  width: 1080px;
}

img {
  width: 1080px;
  padding-bottom: 5rem;
}
span {
  font-size: 2.5rem;
  font-weight: bold;
}
p {
  padding-bottom: 3rem;
}
h4 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  section {
    max-width: 100%;
    padding: 5%;
  }
  img {
    width: 100%;
  }
}
